html, body {
	width: 100%;
	height: 100%;
	background: #000;
	overflow:hidden;
	font-family: "Bungee Inline"
}
body {
	height: 90%;
	width: 90%;
}
#light {
	z-index: 0;
}
#circle {
	position: absolute;
	background: yellow;
	width: 150px;
	height: 150px;
	z-index: 1;
	border-radius: 50%;
}